################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/BpTools/v16
/obj/Debug
/Properties
